<div class="navbar flex justify-between text-[#ffffff]">
    <div class="pl-4">
        <div class="w-[16px] h-[16px] bg-gradient-to-br from-[#06AFCC] to-[#04CAB8]"></div>
        <% const role = user.role === 'admin' ? 'Admin' : '' %>
        <a class="text-xl font-semibold pl-2 select-none cursor-default">Toko Kocak <%= role %></a>
    </div>
    <div>
        <a class="btn btn-ghost text-l rounded-lg" href="/<%= user.id %>/<%= user.role %>">Home</a>
        <% if (user.role === 'admin') { %>
            <a class="btn btn-ghost text-l rounded-lg" href="/<%= user.id %>/<%= user.role %>/manageproducts">Manage Products</a>
        <% } %>
        <% if (user.role === 'user') { %>
            <a class="btn btn-ghost text-l rounded-lg" href="/<%= user.id %>/<%= user.role %>/profile">Profile</a>
        <% } %>
        <a class="btn btn-ghost text-l rounded-lg" href="/logout">Logout</a>
    </div>
</div>