<%- include('./partials/_head.ejs', { title: `Product ${product.id} Details` }) %>
<body>
    <%- include('./partials/_nav.ejs', { user }) %>
    <div class="container mx-auto p-20 flex flex-col items-center">
        <div>
            <h1 class="text-4xl font-semibold"><%= product.name %></h1>
        </div>
        <div class="pt-3">
            <img src="<%= product.imageUrl %>" alt="" class="h-[500px]">
        </div>
        <div class="flex pt-3 gap-3 justify-center">
            <div class="stats shadow bg-[#04CAB8]">
                <div class="stat">
                  <div class="stat-title">Price</div>
                  <div class="stat-value text-2xl"><%= formatPrice(product.price) %></div>
                </div>
            </div>
            <div class="stats shadow bg-[#04CAB8]">
                <div class="stat">
                  <div class="stat-title">Stock</div>
                  <div class="stat-value"><%= product.stock %></div>
                  <div class="stat-desc"></div>
                </div>
            </div>
        </div>
        <div class="flex pt-3 gap-3 justify-center">
            <div class="stats shadow bg-[#04CAB8]">
                <div class="stat">
                  <div class="stat-title">Categories</div>
                  <% let prodCategory = '' %>
                  <% if (product.Categories.length) { %>
                      <% product.Categories.forEach((val, i) => { %>
                          <% product.Categories[i] = val.name %>
                      <% }) %>
                      <% prodCategory = product.Categories.join(', ') %>
                  <% } %>
                  <div class="stat-value text-base"><%= prodCategory %></div>
                </div>
            </div>
        </div>
        <div class="flex pt-3 gap-3 justify-center">
            <div class="stats shadow bg-[#04CAB8]">
                <div class="stat">
                  <div class="stat-title">Description</div>
                  <div class="stat-value text-base"><%= product.description %></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>