<%- include('./partials/_head.ejs', { title: 'Admin' }) %>
<body>
    <%- include('./partials/_nav.ejs', { user }) %>
    <div class="container mx-auto p-20">
        <div class="flex">
            <h1 class="text-6xl font-bold py-10 bg-gradient-to-r from-[#06AFCC] to-[#04CAB8] bg-clip-text text-transparent">Transaction History</h1>
        </div>
        <div class="overflow-x-auto">
            <table class="table text-center">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Product Name</th>
                        <th>Quantity</th>
                        <th>Invoice Code</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    <% history.Transactions.forEach((val, i) => { %>
                        <tr class="hover">
                            <th><%= i+1 %></th>
                            <td><%= val.Product.name %></td>
                            <td><%= val.quantity %></td>
                            <td><%= val.invoiceCode %></td>
                            <td><%= val.formatDate %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>